#experience-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  transition: opacity 2.5s ease-in-out;

  &.visible {
    opacity: 1;

    *.visible {
      pointer-events: all;
    }
  }

  .go-back-arrow-icon,
  .settings-icon,
  .cassette-icon,
  .pencil-icon {
    position: absolute;
    height: 35px;
    width: 35px;
    display: flex;
    place-items: center;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
    scale: 0.9;
    transition: opacity 0.8s $ease-power3-out, scale 0.8s $ease-power3-out;

    img {
      position: relative;
      height: 100%;
      width: auto;
      -webkit-user-drag: none;
      user-select: none;
    }

    &.visible {
      opacity: 1;
      scale: 1;
      pointer-events: all;
    }
  }

  .settings-icon {
    top: 35px;
    left: auto;
    right: 35px;
    z-index: 3;
    opacity: 1;
    transition: transform 0.8s $ease-power3-out;

    img {
      opacity: 0.3;
    }

    &:hover {
      transform: rotate(30deg);
    }
  }

  .cassette-icon {
    bottom: 20px;
    left: 20px;
  }

  .pencil-icon {
    bottom: 20px;
    left: 80px;
  }

  .settings-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    user-select: none;
    transition: opacity 0.8s $ease-power3-out;

    &.visible {
      opacity: 1;
      pointer-events: all;
      user-select: auto;

      .settings-panel {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .settings-panel {
      position: relative;
      transform: translateY(40px);
      height: 300px;
      width: 500px;
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.8s $ease-power3-out, transform 0.8s $ease-power3-out;

      .mute {
        position: relative;
        margin-bottom: 20px;
        font-size: 20px;
        color: black;
        cursor: pointer;
      }

      .volume-wrapper {
        position: relative;
        display: flex;
        flex-direction: row;
        place-items: center;
        pointer-events: all;

        p {
          position: relative;
          font-size: 20px;
          color: black;
        }

        input {
          position: relative;
          margin: 0 12px;
        }
      }

      a {
        margin-top: 20px;
      }
    }
  }
}
