#experience-layer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  pointer-events: none;
  opacity: 0;
  transition: opacity 2.5s ease-in-out;

  .go-back-arrow, .settings {
    position: absolute;
    top: 35px;
    left: 35px;
    height: 35px;
    width: 35px;
    display: flex;
    place-items: center;
    pointer-events: none;
    cursor: pointer;
    opacity: 0;
    scale: 0.9;
    transition: opacity 0.8s $ease-power3-out, scale 0.8s $ease-power3-out;

    img {
      position: relative;
      height: 100%;
      width: auto;
    }

    &.animate {
      opacity: 1;
      scale: 1;
      pointer-events: all;
    }

  }

  .settings {
    left: auto;
    right: 35px;
    opacity: 1;
    pointer-events: all;

    img {
      opacity: 0.3;
    }

  }

  .settings-panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, Calc(-50% + 40px));
    height: 300px;
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.8s $ease-power3-out, transform 0.8s $ease-power3-out;

    &.visible {
      pointer-events: all;
      opacity: 0.95;
      transform: translate(-50%, -50%);
    }

    div {
      position: relative;
      display: flex;
      flex-direction: row;
      place-items: center;
      pointer-events: all;

      p {
        position: relative;
        margin-right: 12px;
        font-size: 20px;
        color: black;
      }

      input {
        position: relative;
      }

    }

    .mute {
      position: relative;
      margin-bottom: 20px;
      font-size: 20px;
      color: black;
      cursor: pointer;
    }

    a {
      margin-top: 20px;
    }

  }

}