#masthead {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  background: #f8e7d9;
  display: flex;
  justify-content: center;
  align-items: center;
}
#masthead a {
  position: relative;
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 5px;
  cursor: pointer;
  transition: text-underline-offset 0.35s;
}
#masthead a:hover {
  text-underline-offset: 2px;
}

#experienceWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  cursor: none;
}
#experienceWrapper .start-button {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: opacity 0.8s ease-in-out;
}
#experienceWrapper .start-button p {
  position: relative;
  font-size: 30px;
  color: white;
}
#experienceWrapper .start-button.visible {
  pointer-events: all;
  z-index: 1;
  opacity: 1;
}
#experienceWrapper .experience {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}
#experienceWrapper #cursor {
  position: fixed;
  top: 0;
  left: 0;
  height: 20px;
  width: auto;
  z-index: 100000;
  pointer-events: none;
  user-select: none;
  user-focus: none;
  transform: translate(-5vh, -5vw);
  transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@media only screen and (max-width: 992px) {
  #experienceWrapper #cursor {
    display: none;
  }
}

#experience-layer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  cursor: none;
  pointer-events: none;
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}
#experience-layer.visible {
  opacity: 1;
}
#experience-layer.visible *.visible {
  pointer-events: all;
}
#experience-layer .go-back-icon, #experience-layer .settings-icon {
  position: absolute;
  top: 35px;
  left: 35px;
  height: 40px;
  width: 40px;
  display: flex;
  place-items: center;
  pointer-events: none;
  opacity: 0;
  scale: 0.9;
  transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), scale 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#experience-layer .go-back-icon img, #experience-layer .settings-icon img {
  position: relative;
  height: 100%;
  width: auto;
  -webkit-user-drag: none;
  user-select: none;
}
#experience-layer .go-back-icon.visible, #experience-layer .settings-icon.visible {
  opacity: 1;
  scale: 1;
  pointer-events: all;
}
#experience-layer .go-back-icon:hover {
  opacity: 0.6;
}
#experience-layer .settings-icon {
  top: 35px;
  left: auto;
  right: 35px;
  z-index: 3;
  opacity: 1;
  transition: transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#experience-layer .settings-icon img {
  opacity: 0.3;
}
#experience-layer .settings-icon:hover {
  transform: rotate(30deg);
}
#experience-layer .pocket-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: fit-content;
  width: fit-content;
  padding: 5px 8px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), background-color 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#experience-layer .pocket-button.visible {
  opacity: 1;
}
#experience-layer .pocket-button:hover {
  background-color: #b6b6b6;
}
#experience-layer .pocket-button p {
  position: relative;
  font-size: 20px;
  color: black;
}
#experience-layer .inventory-wrapper {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
#experience-layer .inventory-wrapper div {
  position: relative;
  height: 35px;
  width: 35px;
  margin-left: 20px;
}
#experience-layer .inventory-wrapper div img {
  position: relative;
  height: 100%;
  width: auto;
}
#experience-layer .settings-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#experience-layer .settings-wrapper * {
  pointer-events: none;
}
#experience-layer .settings-wrapper.visible {
  opacity: 1;
  pointer-events: all;
  user-select: auto;
}
#experience-layer .settings-wrapper.visible .settings-panel {
  transform: translateY(0);
  opacity: 1;
}
#experience-layer .settings-wrapper.visible * {
  pointer-events: all;
}
#experience-layer .settings-wrapper .settings-panel {
  position: relative;
  transform: translateY(40px);
  height: 300px;
  width: 500px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.8s cubic-bezier(0.215, 0.61, 0.355, 1), transform 0.8s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#experience-layer .settings-wrapper .settings-panel .mute {
  position: relative;
  margin-bottom: 20px;
  font-size: 20px;
  color: black;
}
#experience-layer .settings-wrapper .settings-panel .volume-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  place-items: center;
  pointer-events: all;
}
#experience-layer .settings-wrapper .settings-panel .volume-wrapper p {
  position: relative;
  font-size: 20px;
  color: black;
}
#experience-layer .settings-wrapper .settings-panel .volume-wrapper input {
  position: relative;
  margin: 0 12px;
  cursor: none;
}
#experience-layer .settings-wrapper .settings-panel a {
  margin-top: 20px;
  cursor: none;
}

#masthead-outro {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  background: white;
}
#masthead-outro h1 {
  color: black;
}

#errorWrapper {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}
#errorWrapper h1 {
  position: relative;
  font-size: 60px;
  color: black;
}
#errorWrapper a {
  position: relative;
  margin-top: 50px;
  font-size: 20px;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
@media screen and (max-width: 992px) {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
}
html, body {
  overflow: hidden;
  overscroll-behavior: none;
  background: black;
}

.tp-dfwv {
  width: 280px !important;
}

a {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}

/*# sourceMappingURL=main.css.map */
