#masthead {
  position: relative;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url('/assets/images/fond-intro.webp') no-repeat center/cover;
  background-size: cover; 

  a {
    position: relative;
    font-size: 20px;
    border-radius: 20px;
    padding: 10px 20px; 
    text-decoration: none;
    background-color: #A7CF90;
    color: white;
    cursor: pointer;
    transition: background-color 0.8s $ease-power3-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &.disabled {
      pointer-events: none;
      color: #5e5e5e;
    }

    &:not(.disabled):hover {
      background-color: #719e57;
    }

  }

  .masthead-title {
    font-size: 70px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: lighter;
    padding-right: 1em;
    padding-left: 1em;
    color : white;
    animation: glow-masthead 2s infinite;
  }
  
  @media (max-width: 768px) {
    .masthead-title {
      font-size: 20px;
    } 
  }

  @media (max-width: 992px) {
    .masthead-title {
      font-size: 50px;
    }
  }
}