<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover"/>
    <meta name="description" content="In the Attic"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="msapplication-TileColor" content="#000000"/>
    <meta name="theme-color" content="#ffffff"/>

    <meta name="og:type" content="website">
    <meta name="og:url" content="/">
    <meta name="og:title" content="In the Attic">
    <meta name="og:description" content="TODO">
    <meta name="og:image" content="<%= baseUrl %>/TODO">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="/">
    <meta name="twitter:title" content="In the Attic">
    <meta name="twitter:description" content="TODO">
    <meta name="twitter:image" content="<%= baseUrl %>/TODO">

    <!--<link rel="apple-touch-icon" sizes="180x180" href="TODO"/>
    <link rel="icon" type="image/png" sizes="all" href="TODO"/>
    <link rel="manifest" href="TODO"/>
    <link rel="mask-icon" href="TODO" color="#5bbad5"/>-->

    <title>In the Attic</title>
</head>
<body>
<div id="app"></div>
<script type="module" src="/src/main.js"></script>
</body>
</html>